<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenjx.office.api.mapper.TbMeetingMapper">
    <select id="searchOfflineMeetingByPage" parameterType="HashMap" resultType="HashMap">
        SELECT mr.name, temp.meeting FROM tb_meeting_room mr
        LEFT JOIN  (
        SELECT place,
        CONCAT(
        "[",
        GROUP_CONCAT(
        JSON_OBJECT(
        'start', DATE_FORMAT(start,'%H:%i'),
        'end', DATE_FORMAT(end,'%H:%i'),
        'status', `status`,
        'time', ROUND(timestampdiff(MINUTE,CONCAT(date," ",start),CONCAT(date," ",end))/30)
        )
        ),
        "]"
        ) AS meeting
        FROM tb_meeting
        WHERE type = 2 AND `status` != 2 AND date = #{date}
        <if test="mold=='我的会议'">
            AND JSON_CONTAINS(members, CAST(#{userId} AS CHAR))
        </if>
        GROUP BY place
        ) temp ON mr.name=temp.place
        WHERE mr.`status`=1
        LIMIT #{start}, #{length}
    </select>

    <select id="searchOfflineMeetingCount" parameterType="HashMap" resultType="long">
        SELECT COUNT(*)
        FROM tb_meeting_room
        WHERE status=1
    </select>
</mapper>
